<div class="concerts">
  <h1><%= @concert.artiste %></h1>

  <%= render partial: "restaurants/button_list" %>

  <section class="row concert">
    <div class="col-sm-4">
      <%= cl_image_tag(@concert.photo.path, width: 300, height: 200, crop: :fill, class: "picture") %>
    </div>
    <div class="col-sm-8">
      <p>Salle: <%= @concert.salle %></p>     
      <p>Date: <%= @concert.date %></p>
      <p>Description: <%= @concert.description %></p>
    </div>
  </section>
</div>
